

.intro{
    display: flex;
    margin: 2rem;
    height: 70vh;
    /* background-color: aliceblue; */
    margin-top:50px ;
    

    
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    margin-top:5% ;
    /* background:aliceblue ; */
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color:var(--blue);
    font-weight: bold;
    font-size: 3rem;
}
/* .suf{
    color: rgba(219, 221, 231, 0.493);
} */
.i-name>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 10px;
    font-weight: 100;
}
.i-button{
    width: 70px;
    text-decoration: none;
    text-align: center;
}
/* .i-icon
{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
    flex-direction: row;

} */
/* .i-icon>:nth-child(1):hover(){
    fill: re;
} */
/* a{ */
   /* margin-right: 40px; */
   /* gap: 20px; */
   /* transition-property: transform;
   transition-delay: inherit; */
/* } */
/* .o1:hover{
    color: red;
}
.hejj{
    color: yellow;
} */
/* a:hover{
    transform: scaleY(2.5);
} */


.i-right{
    flex: 1;
    position: relative;
}

/* .i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -10%;
    top: -7%;
} */
/* .i-right>:nth-child(2){
    transform: scale(1.4);
    left: 28%;
    width: 35%;
    height: 60%;
} */

.i-right>:nth-child(1){
    width: 70%;
    position: relative;
    left: 100px;
    height: 110%;
    top: -55px;
    /* text-align: center; */
}

.i-icon{
    display: flex;
    justify-content: start;
}
.i-icon>a{
    display: flex;
    align-items: center;
    gap: 70px;
    
    color: rgb(48, 135, 221);
    /* color: rgb(188, 219, 247); */
}
.i-icon>a:nth-child(2){margin-left: 20px;}
.i-icon>a:nth-child(3){margin-left: 20px;}
.i-icon>a:hover:nth-child(1){
    color: rgb(243, 112, 103);
    /* background-color: white; */
    border-radius: 15px;
}
.i-icon>a:hover:nth-child(2){
    color: rgb(46, 26, 226);
    /* background-color: white; */
}
.i-icon>a:hover:nth-child(3){
    color: black;
    /* background-color: rgb(248, 240, 240); */
    border-radius: 15px;
}

.i-blurl{
    top:50px;
    left: -5px;
}